body {
  gap: 20px;
}

.container {
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

.container .users {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container.column {
  flex-direction: column;
  gap: 30px;
}

div.black,
div.white {
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.black.win,
div.white.win {
  box-shadow: 0 0 0 4px rgb(50, 200, 50);
}

div.black.turn,
div.white.turn {
  box-shadow: 0 0 0 4px orange;
}

div.black.disconnected,
div.white.disconnected {
  opacity: 0.5;
}

div.black,
div.black.me::before {
  background-color: black;
  color: white;
}

div.white,
div.white.me::before {
  background-color: white;
}

div.black.me::before,
div.white.me::before {
  content: '나';
  display: block;
  font-size: 16px;
  min-width: 30px;
  height: 20px;
  padding: 2px;
  text-align: center;
  position: absolute;
  top: -24px;
  border-radius: 3px 3px 0 0;
}

div.black.me.win::before,
div.white.me.win::before {
  top: -28px;
  border: 4px solid rgb(50, 200, 50);
  border-bottom: none;
}

div.black.me.turn::before,
div.white.me.turn::before {
  top: -28px;
  border: 4px solid orange;
  border-bottom: none;
}

table.click {
  border-collapse: collapse;
  position: relative;
  z-index: 1;
}

table.click td {
  border-radius: 50%;
  opacity: 0;
  border: 1.5px solid transparent;
}

table.click td:not(.end):hover {
  opacity: 0.4;
}

table.click td.placed,
table.click td.placed:hover {
  opacity: 1;
}

table.click td.placed.recent {
  position: relative;
}

table.click td.placed.recent::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: red;
  width: 6px;
  height: 6px;
  translate: -50% -50%;
}

table.click td.black {
  background-color: black;
}

table.click td.white {
  background-color: white;
}

table.view {
  border-collapse: collapse;
  border: 1.5px solid black;
  box-shadow: 0 0 0 10px rgb(138, 72, 46);
  position: absolute;
  top: 20px;
  left: 20px;
}

table.view td {
  background-color: rgb(138, 72, 46);
  border: 1.5px solid black;
}

.container.column table,
.container.column table.view td {
  border-width: 2px;
}

td {
  padding: 18px;
}

.profile {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(69, 69, 69);
}

.spectators {
  position: absolute;
  top: 5px;
  left: 5px;
}

.message {
  margin-bottom: 20px;
}
