.container {
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}

div.black,
div.white {
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

div.black.win,
div.white.win {
  box-shadow: 0 0 0 4px rgb(50, 200, 50);
}

div.black,
div.black.me::before {
  background-color: black;
  color: white;
}

div.white,
div.white.me::before {
  background-color: white;
}

div.black.me::before,
div.white.me::before {
  content: '나';
  display: block;
  position: absolute;
  font-size: 16px;
  padding: 2px 4px;
  top: -28px;
  border-radius: 3px 3px 0 0;
}

div.black.me.win::before,
div.white.me.win::before {
  top: -32.5px;
  border: 4px solid rgb(50, 200, 50);
  border-bottom: none;
}

table.click {
  border-collapse: collapse;
  position: relative;
  z-index: 1;
}

table.click td {
  border-radius: 50%;
  opacity: 0;
  border: 1px solid transparent;
}

table.click td:not(.end):hover {
  opacity: 0.4;
}

table.click td.placed,
table.click td.placed:hover {
  opacity: 1;
}

table.click td.black {
  background-color: black;
}

table.click td.white {
  background-color: white;
}

table.view {
  border-collapse: collapse;
  border: 1px solid black;
  box-shadow: 0 0 0 10px rgb(138, 72, 46);
  position: absolute;
  top: 20px;
  left: 20px;
}

table.view td {
  background-color: rgb(138, 72, 46);
  border: 1px solid black;
}

td {
  padding: 20px;
}

.profile {
  width: 20px;
  height: 20px;
  border: 1px solid rgb(69, 69, 69);
}

.spectators {
  position: absolute;
  top: 5px;
  left: 5px;
}
