{
  "arrowParens": "always",
  "semi": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleQuote": false,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 120
}
